@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transitions {
    @apply transition-all duration-300 ease-linear
  }
}

.landing-section:has(h3, .h3)  {
  line-height: .9;
}

body::-webkit-scrollbar {
  display: none;
}

.text-animation {
  animation: text 8000ms 800ms infinite linear;
}

@keyframes text {
  0% {
    transform: translateY(0);
  } 
  
  11% {
    transform: translateY(0);
  }

  22% {
    transform: translateY(calc(-675px / 5));
  }

  33% {
    transform: translateY(calc(-675px / 5));
  }
  
  44% {
    transform: translateY(calc(-675px / 5 * 2));
  }

  55% {
    transform: translateY(calc(-675px / 5 * 2));
  }
  
  66% {
    transform: translateY(calc(-675px / 5 * 3));
  }

  77% {
    transform: translateY(calc(-675px / 5 * 3));
  }
  
  88% {
    transform: translateY(calc(-675px / 5 * 4));
  }

  100% {
    transform: translateY(calc(-675px / 5 * 4));
  }

}

@font-face {
  font-family: Brinnan;
  font-weight: 400;
  src: url('../public/fonts/Brinnan/BrinnanRegular.otf');
}
@font-face {
  font-family: Brinnan;
  font-weight: 300;
  src: url('../public/fonts/Brinnan/BrinnanLight.otf');
}
@font-face {
  font-family: Brinnan;
  font-weight: 700;
  src: url('../public/fonts/Brinnan/BrinnanBold.otf');
}

@font-face {
  font-family: Brinnan;
  font-weight: 100;
  src: url('../public/fonts/Brinnan/BrinnanThin.otf');
}

.green {
  width: 300px;
  height: 300px;
  background: rgba(62, 193, 0, 0.5);
  filter: blur(100px);
}

.blue {
  width: 300px;
  height: 200px;
  background: rgba(56, 176, 227, 0.5);
  filter: blur(100px);
}

.lines {
  animation: lines 2000ms ease-in-out infinite alternate;
}

.gradient {
  animation: bg linear infinite 6000ms;
  perspective-origin: center center;
}

.how-works-gradient {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
}

.fade {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
     }
}



@keyframes bg {
  0% {
    left: 10px;
    top: 0;
  } 
  33% {
    left: 60vw;
    top: 0;
  }
  66% {
    left: 30vw;
    top: 40vh;
  }

  100% {
    left: 10px;
    top: 0;
  } 
}

@keyframes lines {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 17%;
  } 
}

.bg-header {
  background: linear-gradient(180deg, #000000 55.21%, rgba(0, 0, 0, 0.01) 100%);
}

body {
  font-family: Brinnan , sans-serif;
  overflow-x: hidden;
}

.stroke {
  -webkit-text-stroke: 2px #929292;
}

.spacing {
  letter-spacing: 2px;
}


.gradient-border {
  border: 1px double transparent;
  background-image: linear-gradient(black, black), linear-gradient(92.71deg, #3EC100 0%, #38B0E3 100%) !important;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 7px;
}

.stats-container {
  background: linear-gradient(109.6deg, #000000 0%, #111111 49.48%, #000000 100%);
}

.line {
  background: linear-gradient(90deg, rgba(62, 193, 0, 0) 0%, #3EC100 41.15%, #38B0E3 63.02%, rgba(56, 176, 227, 0) 100%);
  height: 2px;
}

.dollar {
  background: linear-gradient(180deg, #3EC100 0%, #38B0E3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.linear-white {
  background: linear-gradient(135.55deg, #FFFFFF 0%, #A6A6A6 100%);
}

.supported-line {
  height: 2px;
  background: linear-gradient(89.98deg, rgba(217, 217, 217, 0) 0.01%, rgba(217, 217, 217, 0.2) 100%)
}

.gradient-gray {
  background: linear-gradient(90deg, rgba(38, 38, 38, 0) 0%, #262626 33.33%, #262626 66.67%, rgba(38, 38, 38, 0) 100%);
}

.footer-line {
  height: 2px;
  background: linear-gradient(90deg, rgba(176, 176, 176, 0) 0%, #929292 41.15%, #929292 63.02%, rgba(146, 146, 146, 0) 100%)
}


